.input-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.input-container label {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 12px 0;
    padding-left: 2px;
    color: white;
}

.input {
    background-color: #FFF;
    box-sizing: border-box;
    border-radius: 10px;
    border: black 2px solid;
    outline: 0;
    width: 95%;
    padding: 12px 20px;
    box-shadow: 0 0 5px black;
    font-size: 18px;
    font-weight: 600;
}