.paragrath {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .8px;
    text-align: start;
    margin: 24px 0;
}

.container-principal {
    padding: 0 1.25rem;
    min-height: 100vh;
    background-image: url(../../../public/assets/fundo-mobile.png);
    background-position: center;
    background-size: cover;
}