.paragraph {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .8px;
    text-align: start;
    padding: 24px 0;
    color: white;
}

.container-principal {
    min-height: 100vh;
    background-image: url(../../../public/assets/fundo-mobile.png);
    background-position: center;
    background-size: cover;
    padding: 0 20px;
}